
html{font-size: 100%;height:100%;}
*{margin: 0;padding: 0;vertical-align: baseline;background: transparent;-webkit-touch-callout: none;
    -webkit-text-size-adjust: none;-webkit-tap-highlight-color: transparent;-webkit-appearance:none; list-style: none;}
body,input,select,textarea,button{font-size: 15px;font-family: sans-serif;}
body{min-height: 100%;width: 100%;overflow: visible;overflow-x: hidden;font-family:"微软雅黑";color: #3d4245; position:relative;}
div{margin: 0 auto;}
img{border: 0;vertical-align: middle;}
a{text-decoration: none;color: #333333;}
a:active{text-decoration: none;color: #a2a5aa;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
*html .clearfix{ height:1%;}
*+html .clearfix{height:1%;}
:focus{outline: none;}
::-moz-focus-inner{ border: 0;}
input[type="button"], input[type="submit"], input[type="reset"] , input[type="disabled"]{-webkit-appearance: none;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none !important;}
.fl{float: left;}
.fr{float: right;}
ul > li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

ul > li .a {
    width: 24.9%;
    box-sizing: border-box;
    padding-left: 10px;
    color: #333;
    line-height: 39px;
}

ul > li .b {
    width: 74.9%;
    box-sizing: border-box;
    padding-right: 10px;
}

ul > li .b > input,
ul > li .b select,
ul > li .b > textarea {
    width: 100%;
    color: #666;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

ul > li .b .select-31 {
    background-size: 15px 10px;
}
